@font-face {
    font-family: "RockSalt";
    src: url(font/Rock_Salt/RockSalt-Regular.ttf)
}

body {
    background-image: url("images/MacDemarco_background_image.jpg");
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    background-attachment: fixed;
    background-position: center;
}
    
h2 {
    margin: 0;
}

body > div {
    background-color: rgba(0, 0, 0, 0.531);
    border-radius: 20px;

    margin: 150px 50px;
}

footer {
    padding: 100px 0 20px 20px;
    color: white;
    font-size: 1.2vw;
}

header > h1 {
    color: white;
    padding: 20px;
    font-family: RockSalt;
    font-size: 6vw;
    margin: 0;
}

div > h1 {
    font-size: 3vw;
    font-family: RockSalt;
    margin: 0;
}

nav {
    display: flex;
    margin: 10px;
    margin-bottom: 70px;  
}

nav > div {
    background-color: rgba(255, 255, 255, 0.535);
    font-size: 1.5vw;
    margin: 2px;
    border-radius: 5px;
    padding: 20px;

    width: 100%;
    justify-content: stretch;
    text-align: center;
}

.marked {
    border: 1px solid rgb(255, 255, 255);
    font-weight: bold;
    box-shadow: 0 0 8px white;
}

main {
    color: white;
    font-size: 1vw;
}

li {
    list-style: none;
}

.best {
    background-color: rgba(0, 0, 0, 0.463);
    border-radius: 20px;
    border: 0.5px solid white;
    
    padding: 0 20px;
    margin: 20px;

    display: grid;
    grid-template-columns: repeat(5, 1fr);    
}

.unmarked:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.495);
    color: white;
}

img {
    margin-top: 20px;
    width: 100%;
    border-radius: 20px 20px 0 0;
}

.song_list {
    display: flex;
    grid-column: 4 / span 2; 
    
    margin-top: 10px;
    gap: 15px;
}  

.top_demo {
    background-color: #374663;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 0 0 20px 20px;
}

#salad_days .top_demo {
    color: #FFDDC2;
}

#here_comes_the_cowboy .top_demo {
    color:#1C473A;
}

#here_comes_the_cowboy .top_demo {
    background-color: #dfab63;
}

.album_data {
    grid-column: 1 / span 3;
}

.anecdotes {
    display: flex;
    grid-column: 1 / span 5;
    padding: 0;
    gap: 10px;
}

.album_description {
    padding-right: 20px;
}

#salad_days .image {
    background-image: url(images/MacDemarco_demo.jpg);
    background-size: cover;
}

#here_comes_the_cowboy .image {
    background-image: url(images/MacDemarco_levy.jpg);
    background-size: cover;
}

.image {
    display: flex;
    align-items: flex-end;
    text-shadow: 0 0 4px black;
    background-position: center;
}

.top_left_90 {
    width: 12%;
}

#salad_days .box {
    background-color: #FFDDC2;
    padding: 20px;
    color: #374663;
}

#here_comes_the_cowboy .box {
    background-color: #1C473A;
    padding: 20px;
}

#salad_days .top_right_90 {
    width: 16.5%;
    border-radius: 20px 0 20px 20px;
}

#salad_days .empty {
    width: 16.5%;
}

#salad_days .bottom_left_90 {
    width: 33%;
    border-radius: 20px 20px 20px 0;
}

#salad_days .tablet_empty {
    display: none;
}

#salad_days .phone_empty {
    display: none;
}

#salad_days .top_left_90 {
    width: 16.5%;
    border-radius: 0 20px 20px 20px;
    color: white;
}

#salad_days .bottom_right_90 {
    width: 15%;
    border-radius: 20px 20px 0 20px;
}

#here_comes_the_cowboy .bottom_left_90 {
    width: 33%;
    border-radius: 20px 20px 20px 0;
}

#here_comes_the_cowboy .top_left_90 {
    width: 16.5%;
    border-radius: 0 20px 20px 20px;
}

#here_comes_the_cowboy .tablet_empty {
    display: none;
}

#here_comes_the_cowboy .image {
    width: 33%;
    border-radius: 0 20px 20px 20px;
}

#here_comes_the_cowboy .bottom_right_90 {
    width: 15%;
    border-radius: 20px 20px 0 20px;
}

.cover {
    grid-column: 4 / span 2;
    position: relative;
}

.show_hover {
    opacity: 1;
    transition-property: opacity;
    transition-duration: 1s;
    position: absolute;
    right: 0;
}

.show_hover:hover {
    opacity: 0;
    transition-property: opacity;
    transition-duration: 1s;
}



